@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
    background: linear-gradient(270deg, #4c968a, #0575e6);
    background-size: 400% 400%;

    animation: bek 16s ease infinite;
}

@keyframes bek {
    0% {
        background-position: 23% 0%
    }

    50% {
        background-position: 78% 100%
    }

    100% {
        background-position: 23% 0%
    }
}
